body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.btn-trigger {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    right: -20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    border: 1px solid #fff;
}

.btn-trigger:hover {
    background-color: pink;
}

nav {
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    position: fixed;
    transition: 0.5s all;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    padding: 15px;
    position: relative;
}

nav ul li a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav ul li a:hover {
    color: pink;
}

.menu-text {
    width: 150px;
}


/* Attribution:

This source code is not my own.
This code was written and shared by:

@tom.is.coding - Instagram   
https://www.instagram.com/p/C6MAWXatjDQ/?utm_source=ig_web_button_share_sheet */
